doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title XVII Congreso Internacional de Informática y Sistemas
   
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    //-link(rel='stylesheet', href='/css/styles.css')
    //-link(rel='stylesheet', href='/css/responsive-nav.css')
    link(rel='stylesheet', href='/css/mediaelementplayer/mediaelementplayer.min.css')
    link(rel='stylesheet', href='/bower_components/toastr/toastr.min.css')
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')
    link(href='/icomoon/style.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bower_components/fullpage.js/dist/jquery.fullpage.min.css', media='screen', title='no title')



    link(rel='stylesheet', href='/bower_components/remodal/dist/remodal.css')

    include header
    #fullpage
    block content



  script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript', charset='utf-8')


  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAn26PVNnI0BqB-umXi2hpf6BFr7P1Ll4M', type='text/javascript')

  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript', charset='utf-8')

  script(src='/js/build/plugins.min.js', type='text/javascript', charset='utf-8')
  script(src='bower_components/animatedModal/animatedModal.min.js')
  script(src='/js/main.js', type='text/javascript', charset='utf-8')
  
  script(src='/js/bootstrapValidator.min.js', type='text/javascript', charset='utf-8')
  script(type='text/javascript', src='/bower_components/remodal/dist/remodal.min.js', charset='utf-8')
  
  
  script(type='text/javascript', src='/bower_components/smooth-scroll.js/dist/js/smooth-scroll.min.js')
  
  script(type='text/javascript').
    smoothScroll.init();
    $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
    $('.navigation').addClass('shrink');
    $(".nav-logo").addClass("shrink-logo");
    $(".menu").addClass('items-collapsed')
    $(".nav-items").addClass("hide")
    } else {
    $('.navigation').removeClass('shrink');
    $(".nav-logo").removeClass("shrink-logo")
    $(".menu").removeClass('items-collapsed')
    $(".nav-items").removeClass("hide")
    }
    });
