doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    meta(property='fb:app_id', content='1115877665114558')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.ciistacna.com/')
    meta(property='og:title', content='ciis tacna')
    meta(property='og:image', content='/images/fbportada.png')
    meta(property='og:description', content='ciis')

    title XVIII Congreso Internacional de Informática y Sistemas
   
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/normalize.css')      
    //-link(rel='stylesheet', href='/css/styles.css')
    //-link(rel='stylesheet', href='/css/responsive-nav.css')
    link(rel='stylesheet', href='/css/mediaelementplayer/mediaelementplayer.min.css')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css', rel='stylesheet', type='text/css')

    //-link(rel='stylesheet', href='/bower_components/toastr/toastr.min.css')
    //-link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')

    link(href='/icomoon/style.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
    //-link(href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal-default-theme.css')
    
    //-link(rel='stylesheet', href='/bower_components/fullpage.js/dist/jquery.fullpage.min.css', media='screen', title='no title')
    //-link(rel='stylesheet', href='/bower_components/remodal/dist/remodal.css')

    include header
    #fullpage
    block content



  script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
  //-script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript', charset='utf-8')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAn26PVNnI0BqB-umXi2hpf6BFr7P1Ll4M', type='text/javascript')

  //-script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/bootstrap.min.js', type='text/javascript', charset='utf-8')

  script(src='/js/build/plugins.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/animatedModal.min.js')

  //-script(src='/bower_components/animatedModal/animatedModal.min.js')
  script(src='/js/main.js', type='text/javascript', charset='utf-8')

  script(src='/js/bootstrapValidator.min.js', type='text/javascript', charset='utf-8')


  script(type='text/javascript', src='  https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.js', charset='utf-8')
  //-script(type='text/javascript', src='/bower_components/remodal/dist/remodal.min.js', charset='utf-8')

  script(type='text/javascript', src='  https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.4/js/smooth-scroll.min.js')
  //-script(type='text/javascript', src='/bower_components/smooth-scroll.js/dist/js/smooth-scroll.min.js')
  script(src='https://unpkg.com/axios/dist/axios.min.js')


  script(type='text/javascript').
    smoothScroll.init();
    $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
    $('.navigation').addClass('shrink');
    $(".nav-logo").addClass("shrink-logo");
    $(".menu").addClass('items-collapsed')
    $(".nav-items").addClass("hide")
    } else {
    $('.navigation').removeClass('shrink');
    $(".nav-logo").removeClass("shrink-logo")
    $(".menu").removeClass('items-collapsed')
    $(".nav-items").removeClass("hide")
    }
    });
