doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title XVIII POSTMASTER
   
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/style2.css')
    //-link(rel='stylesheet', href='/css/styles.css')
    //-link(rel='stylesheet', href='/css/responsive-nav.css')
    link(rel='stylesheet', href='/css/mediaelementplayer/mediaelementplayer.min.css')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css', rel='stylesheet', type='text/css')

    //-link(rel='stylesheet', href='/bower_components/toastr/toastr.min.css')
    //-link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')

    link(href='/icomoon/style.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal-default-theme.css')
    
    //-link(rel='stylesheet', href='/bower_components/fullpage.js/dist/jquery.fullpage.min.css', media='screen', title='no title')
    //-link(rel='stylesheet', href='/bower_components/remodal/dist/remodal.css')

    header
      nav.navigation   
        #logo
          img.nav-logo(src='img/dibujo.png', alt='')
          h2.items.nav-items
            span.header-title-number  XVII
            span.header-title-text  POSTMASTER
          //span.separator.nav-items
          //p.items.header-subtitle.nav-items
            | CONGRESO 
            br
            |         INTERNACIONAL 
            br
            |         DE INFORMATICA 
            br
            |         Y SISTEMAS 
            br
        // <div id="logo">Your Logo here</div>
        label.toggle(for='drop') Menu
        input#drop(type='checkbox')
        ul.menu
          li
            a(data-scroll='', href='#index') INICIO
          li
            a(data-scroll='', href='/') CIIS  
          li
            a(data-scroll='', href='#schedule') TEMARIO
          li
            a(data-scroll='', href='#pricing-table') CONFERENCIAS
          li
            a#contactBtn(href='#animatedModal') TALLERES
          li
            a#contactBtn(href='#animatedModal') INVERSION  
          //li.hidden-sm.hidden-md.hidden-xss
            span.separator
          //li.hidden-sm.hidden-md.hidden-xs
            a.icon-facebook-with-circle(href='https://www.facebook.com/ciistacna/?fref=ts', target='_blank')
          //li.hidden-sm.hidden-md.hidden-xs
            a.icon-twitter-with-circle(href='https://twitter.com/ciistacna', target='_blank')
      #fullpage
      section#index.section.section-page
        article#countdown
          .container_countdown_unit
            span#days.countdown_unit
            span.countdown_unit_label  Dias
          span.separator
          .container_countdown_unit
            span#hours.countdown_unit
            span.countdown_unit_label  Horas
          span.separator
          .container_countdown_unit
            span#minutes.countdown_unit
            span.countdown_unit_label  Minutos
          span.separator
          .container_countdown_unit
            span#seconds.countdown_unit
            span.countdown_unit_label  segundos
        h1
          span.highlighted POST MASTER 
          span  REENCUENTRO DE EGRESADOS ESIS
          //span.subtitle Un evento al cual no debes faltar,
          //span.subtitle2 el mejor evento tecnologico del sur del Peru
        .subscription
        //-input#email(type='email', placeholder='Tu email')
        //-button#subscribe.btn-outline.lg(type='button')  Registrate
        button#preRegisterBtn.btn-outline.lg(href='#preRegisterModal')  Preinscríbete
      
        //-
          button#preRegisterConcurseBtn.btn-outline-chall.lg(href='#preRegisterConcurseModal')
            | Preinscríbete
            | al concurso de programación
      footer




  script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript', charset='utf-8')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAn26PVNnI0BqB-umXi2hpf6BFr7P1Ll4M', type='text/javascript')

  //-script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/bootstrap.min.js', type='text/javascript', charset='utf-8')

  script(src='/js/build/plugins.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/animatedModal.min.js')

  //-script(src='/bower_components/animatedModal/animatedModal.min.js')
  script(src='/js/main.js', type='text/javascript', charset='utf-8')
  script(src='/js/postmaster.js', type='text/javascript', charset='utf-8')

  script(src='/js/bootstrapValidator.min.js', type='text/javascript', charset='utf-8')


  script(type='text/javascript', src='  https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.js', charset='utf-8')
  //-script(type='text/javascript', src='/bower_components/remodal/dist/remodal.min.js', charset='utf-8')

  script(type='text/javascript', src='  https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.4/js/smooth-scroll.min.js')
  //-script(type='text/javascript', src='/bower_components/smooth-scroll.js/dist/js/smooth-scroll.min.js')

  script(type='text/javascript').
    smoothScroll.init();
    $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
    $('.navigation').addClass('shrink');
    $(".nav-logo").addClass("shrink-logo");
    $(".menu").addClass('items-collapsed')
    $(".nav-items").addClass("hide")
    } else {
    $('.navigation').removeClass('shrink');
    $(".nav-logo").removeClass("shrink-logo")
    $(".menu").removeClass('items-collapsed')
    $(".nav-items").removeClass("hide")
    }
    });
